body {
    font-size: 20px;
    margin: 2em 4em;
}

main {
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.number-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-input {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.result {
    display: flex;
    justify-content: flex-end;
}

input[type="number"] {
    min-width: 2rem;
    width: 8rem;
}

input[type="number"],
button {
    font-size: inherit;
    text-transform: uppercase;
}

button {
    border-style: solid;
    border-radius: 0;

    cursor: pointer;

    padding: 0.5rem 1rem;
}
